---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>About me</h1>
      <p>
        I'm Sky. I'm a 14 year old transfem autistic teenager that's constantly bored, well until I found a couple really good people. I love them a lot &lt;3!
        <br />
        Yeah as you can tell, I a
        <i>super</i>
        biromantic although I don't really have that much sexual feelings about them. And yeah, I'm polyamorous.
      </p>
      <p>
        For pronouns-related information, you can go see
        <a href="https://en.pronouns.page/@skylafalls" target="_blank">https://en.pronouns.page/@skylafalls</a>
        .
      </p>
      <h2>List of social media accounts</h2>
      Here's a list of social media accounts I have, cause I'm at a few different places.
      <ul>
        <li>
          <a href="https://www.youtube.com/@skylafalls" target="_blank">YouTube</a>
          (@skylafalls)
        </li>
        <li>
          <a href="https://discord.com/@channels/me" target="_blank">Discord</a>
          (@skylalights)
        </li>
        <li>
          <a href="https://fictional-googology.fandom.com/wiki/User:Skylafalls" target="_blank">Fandom</a>
          (@Skylafalls)
        </li>
        <li>
          <a href="https://twitter.com/thienbeingbored" target="_blank">
            Twitter /
            <i>""X""</i>
          </a>
          (@thienbeingbored,
          <span style="color: darkgray;">inactive</span>
          )
        </li>
        <li>
          <a href="https://bsky.app/profile/skylafalls.bsky.social" target="_blank">BlueSky</a>
          (@skylafalls.bsky.social,
          <span style="color: darkgray;">inactive</span>
          )
        </li>
      </ul>
      <h2>Things I do:</h2>
      <p>
        Some of the things I like are:
      </p>
      <ul>
        <li>
          Designing, especially if I can add a lot of details. And some stories too.
        </li>
        <li>
          Programming, albeit not that good at that. I mostly only know web dev. Systems/low-level stuff (like rust, C++, zig) or server-side stuff (like go and python) I don't know as well.
        </li>
        <li>
          Some of the stuff I do can be found here at my GitHub account:
          <a href="https://github.com/skylafalls" target="_blank">https://github.com/skylafalls</a>
        </li>
        <li>
          And, you guys! I love y'all! &lt;3
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
